// Change to your own azure environment
subscription_id = "xxxxx-xxxx-xxxx-xxxx-xxxxx"
client_id       = "xxxxx-xxxx-xxxx-xxxx-xxxxx"
client_certificate_path   = "/home/user/.ssh/tf-service-principal.pfx"
tenant_id       = "xxxxx-xxxx-xxxx-xxxx-xxxxx"
size   = "Standard_F4"
client_size   = "Standard_B1s"
license_type = "payg"
location = "australiaeast"
rgname = "azhub-rg"
vnetname = "azhub-vnet"
publicsubnetname = "ext-subnet"
private1subnetname = "int-subnet"
private2subnetname = "workload1-subnet"
private3subnetname = "workload2-subnet"
activename = "azhub-fgt1"
client1name = "azhub-client1"
client2name = "azhub-client2"
fgtversion = "7.2.1"
adminusername = "fortiuser"
adminpassword = "SecurityFabric!"
adminsport = "8443"
sshport = "2222"
vnetcidr = "172.30.0.0/16"
publiccidr  = "172.30.0.0/24"
private1cidr = "172.30.1.0/24"
private2cidr = "172.30.2.0/24"
private3cidr = "172.30.3.0/24"
activeport1 = "172.30.0.10"
activeport1mask = "255.255.255.0"
activeport2 = "172.30.1.10"
activepor2mask = "255.255.255.0"
port1gateway = "172.30.0.1"
port2gateway = "172.30.1.1"
bootstrap-active = "config-active.conf"
license  = "FGVM02TM22024054.lic"
tags = {    
    Name               = "user"
    Environment        = "dev"
}


