// Change to your own azure environment
subscription_id         = "xxxxx"
client_id               = "xxxxx"
client_certificate_path = "xxxxx"
tenant_id               = "xxxxx"
size                    = "Standard_DS2_v2"
fmgsize = "Standard_DS3_v2"
fazsize = "Standard_DS3_v2"
client_size             = "Standard_B1s"
license_type            = "payg"
fmg_license_type        = "trial"
faz_license_type        = "trial"
location                = "australiasoutheast"
rgname                  = "azmgmt-rg"
vnetname                = "azmgmt-vnet"
publicsubnetname        = "ext-subnet"
private1subnetname      = "int-subnet"
private2subnetname      = "workload1-subnet"
private3subnetname      = "workload2-subnet"
activename              = "azmgmt-fgt"
fmgname              = "azmgmt-fmg"
fazname              = "azmgmt-faz"
client1name             = "azmgmt-jumphost1"
fgtversion              = "7.2.1"
fmgversion              = "7.2.1"
fazversion              = "7.2.1"
adminusername           = "fortiadmin"
adminpassword           = "SecurityFabric1!"
fmgfazadminusername     = "fortiadmin"
fmgfazadminpassword     = "SecurityFabric1!"
adminsport              = "8443"
fmgadminsport              = "4443"
fazadminsport              = "4444"
sshport                 = "2222"
vnetcidr                = "172.17.17.0/24"
publiccidr              = "172.17.17.0/26"
private1cidr            = "172.17.17.64/26"
private2cidr            = "172.17.17.128/26"
private3cidr            = "172.17.17.192/26"
activeport1             = "172.17.17.4"
activeport1mask         = "255.255.255.0"
activeport2             = "172.17.17.68"
activeport2mask         = "255.255.255.0"
fmgport1                = "172.17.17.133"
fazport1                = "172.17.17.134"
client1port1            = "172.17.17.135"
port1gateway            = "172.17.17.1"
port2gateway            = "172.17.17.65"
bootstrap-active        = "config-active.conf"
license                 = "FGVM02TM22024054.lic"
fmglicense = "FMG-VMTM22012011.lic"
tags = {
  Environment               = "test"
  
}




