// Change to your own azure environment
subscription_id         = "xxxxx"
client_id               = "xxxxx"
client_certificate_path = "xxxxx"
tenant_id               = "xxxxx"
size                    = "Standard_DS2_v2"
fmgsize = "Standard_DS3_v2"
fazsize = "Standard_DS3_v2"
client_size             = "Standard_B1s"
license_type            = "payg"
fmg_license_type        = "trial"
faz_license_type        = "trial"
location                = "australiasoutheast"
rgname                  = "azmgmt-rg"
vnetname                = "azmgmt-vnet"
publicsubnetname        = "ext-subnet"
private1subnetname      = "int-subnet"
private2subnetname      = "workload1-subnet"
private3subnetname      = "workload2-subnet"
activename              = "azmgmt-fgt"
fmgname              = "azmgmt-fmg"
fazname              = "azmgmt-faz"
client1name             = "azmgmt-jumphost1"
fgtversion              = "7.2.1"
fmgversion              = "7.2.1"
fazversion              = "7.2.1"
adminusername           = "fortiadmin"
adminpassword           = "SecurityFabric1!"
fmgfazadminusername     = "fortiadmin"
fmgfazadminpassword     = "SecurityFabric1!"
adminsport              = "8443"
fmgadminsport              = "4443"
fazadminsport              = "4444"
fgtmgmtpip = "22.22.22.22"
sshport                 = "2222"
vnetcidr                = "172.17.17.0/24"
publiccidr              = "172.17.17.0/26"
private1cidr            = "172.17.17.64/26"
private2cidr            = "172.17.17.128/26"
private3cidr            = "172.17.17.192/26"
activeport1             = "172.17.17.4"
activeport1mask         = "255.255.255.0"
activeport2             = "172.17.17.68"
activeport2mask         = "255.255.255.0"
fmgport1                = "172.17.17.133"
fazport1                = "172.17.17.134"
client1port1            = "172.17.17.135"
port1gateway            = "172.17.17.1"
port2gateway            = "172.17.17.65"
bootstrap-active        = "config-active.conf"
fgtlicense                 = ""
fmglicense = ""
fazlicense = ""
fgtflextoken = ""
tags = {
  Environment               = "test"
  
}

publicnsg = {
  i100 = {
    name                       = "Allow Management SSH"
    priority                   = 100
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "2222"
    source_address_prefix      = "11.11.11.11/32"
    destination_address_prefix = "*"
  }
  i110 = {
    name                       = "Allow Management HTTP"
    priority                   = 110
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "8080"
    source_address_prefix      = "11.11.11.11/32"
    destination_address_prefix = "*"
  }
  i120 = {
    name                       = "Allow Management HTTPS"
    priority                   = 120
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "8442"
    source_address_prefix      = "11.11.11.11/32"
    destination_address_prefix = "*"
  }
  i200 = {
    name                       = "Block Management SSH"
    priority                   = 200
    direction                  = "Inbound"
    access                     = "Deny"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "2222"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  i210 = {
    name                       = "Block Management HTTP"
    priority                   = 210
    direction                  = "Inbound"
    access                     = "Deny"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "8080"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  i220 = {
    name                       = "Block Management HTTPS"
    priority                   = 220
    direction                  = "Inbound"
    access                     = "Deny"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "8443"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  i300 = {
    name                       = "ingress"
    priority                   = 300
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "*"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  e100 = {
    name                       = "egress"
    priority                   = 100
    direction                  = "Outbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "*"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
}

privatensg = {
  i100 = {
  name                       = "ingress"
  priority                   = 100
  direction                  = "Inbound"
  access                     = "Allow"
  protocol                   = "*"
  source_port_range          = "*"
  destination_port_range     = "*"
  source_address_prefix      = "*"
  destination_address_prefix = "*"
  }
  e100 = {
  name                       = "egress"
  priority                   = 100
  direction                  = "Outbound"
  access                     = "Allow"
  protocol                   = "*"
  source_port_range          = "*"
  destination_port_range     = "*"
  source_address_prefix      = "*"
  destination_address_prefix = "*"
  }
}


